body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.card {
    margin-bottom: 20px;
}

a {
    color: #232b2b;
    text-decoration: none;
}

.rounded-15 {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 15px;
}

/* navbar */

.navbar {
    padding-top: 20px;
}

.navbar-nav .nav-item {
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.navbar-nav .active {
    color: #53354b;
    font-weight: 700;
    border-bottom: 4px #53354b solid;
}

.navbar .btn {
    width: 200px;
    padding-top: 13px;

    height: 50px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #53354b;
}

header .jumbo {
    text-align: center;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header img {
    padding-top: 150px;
}

header h2 {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* width: 350px; */
}

main {
    margin-top: 40px;
    margin-bottom: 50px;
}

.sholat h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.sholat h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 0px;
}

.tanah {
    margin-top: 50px;
    margin-bottom: 70px;
}

.tanah h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.tanah #map {
    width: 100%;
    height: 400px;
}

.struktur {
    margin-top: 50px;
    margin-bottom: 70px;
}

.struktur h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.struktur h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.struktur .row img {
    width: 100%;
    height: 300px;
}

.sejarah {
    margin-top: 50px;
    margin-bottom: 80px;
}

.blockquote {
    padding: 60px 80px 40px;
    position: relative;
}

.blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}

.blockquote:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: -70px;
    content: "\f10d";
    font-size: 200px;
    color: rgba(0, 0, 0, 0.1);

}

.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3px;
    width: 200px;
}